{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <h1>Withdraw Your Cash...</h1>
    <form action="" id="dep" method="post">
        {% csrf_token %}
        <p>Enter Your Amount : <input type="number" name="amt" min="1" max="100000" step="1"></p>
        <button id="dbutton">Withdraw</button>
        <a href="/home" id="a-deposit">Back</a>
    </form>
    <h4>
        {% if insufficicent %}
        {{insufficicent}}
        {% endif %}
        {{balance|floatformat:2}}
    </h4>
    <h4>
        {% if mes %}
        {{mes}}
        {% endif %}
        {{wd|floatformat:2}}
    </h4>
    <h4>
        {% if available %}
        {{available}}
        {% endif %}
        {{ab|floatformat:2}}
    </h4>
</body>
</html>